<html>
  
<head>
    <meta charset="UTF-8">
    <!--  Loads the path to static files-->
      {% load staticfiles %}
      <link rel="stylesheet" type="text/css"  href="{% static 'Homepage/index.css' %}"

<link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />
<link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


    <script>
         window.console = window.console || function(t) {};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
              window.parent.postMessage("resize", "*");    }
    </script>

</head>


<body>


<!---- message if new account made-->
{% if messages %}
{% for message in messages %}
  <div class="alert alert-{{message.tags}} ">
        {{message}}
  </div>
{% endfor %}
{%endif %}


        <nav class="navbar navbar-inverse ">
                <div class="container-fluid">
                     
                    <div class="navbar-header">
                            <a class="logo" >Bookworm</a>
                     </div>

                     <div class=" nav-btns topnav-right" >
                         {% if user.is_authenticated %}
                          <a href= "{% url 'logout' %}" >
                              <button style="color: white; background: transparent; ">Logout</button>
                          </a>

                         {% else %}
                         <!--Added Register button -->
                            <a href="{% url 'Register' %}" style="color: white; background: transparent; " >
                                 <button style="color: white; background: transparent; ">Register</button>
                            </a>
                         <!--Added Login button -->
                            <a href= "{% url 'login' %}" style="color: white; background: transparent; ">
                                <button style="color: white; background: transparent; ">Login</button>
                            </a>
                         {% endif %}
                         <!--Added profile button -->
                            <a href="{% url 'profile' %}" style="color: white; background: transparent; ">
                                <button style="color: white; background: transparent; ">Profile</button>
                            </a>

                            <button href="#" style="color: white; background: transparent; ">Upgrade to pro</button>
                          </div>
                        
                </div>
        </nav>

<div class="main-container">
<div class="coverflow-container">
<ol class="coverflow-list">

<h1 style="color: white;" > Here are some books that you might be interested in: </h1>

<input type="radio" name="cover-item" id="cover-1">
<li class="coverflow-item">
<label for="cover-1">
<figure class="album-cover">
<img src="https://blondebeetnirvana.com/wp-content/uploads/2018/04/MarkMansonOnNotGivingAFck-e1523923607866.jpg" />
     <a href="https://www.dansilvestre.com/the-subtle-art-of-not-giving-a-fuck-mark-manson/">
<figcaption class="album-name">The Subtle Art of Not Giving a F*ck</figcaption>
     </a>
</figure>
</label>
</li>

<input type="radio" name="cover-item" id="cover-2">
<li class="coverflow-item">
<label for="cover-2">
<figure class="album-cover">
<img src="https://media-market.edmodo.com/media/public/f26882dc15733fefc4f8b7114b11a1e114feb20c.jpg">
<a href="https://www.sparknotes.com/lit/pride/summary/">
    <figcaption class="album-name">Pride and Prejudice</figcaption>
</a>
</figure>
</label>
</li>

<input type="radio" name="cover-item" id="cover-3">
<li class="coverflow-item">
<label for="cover-3">
<figure class="album-cover">
<img src="https://images-na.ssl-images-amazon.com/images/I/41s4xJZlEYL.jpg">
    <a href="https://fourminutebooks.com/mans-search-for-meaning-summary/">
<figcaption class="album-name">Man's Search For Meaning</figcaption>
</a>
</figure>
</label>
</li>

<input type="radio" name="cover-item" id="cover-4">
<li class="coverflow-item">
<label for="cover-4">
<figure class="album-cover">
<img src="https://dynamic.indigoimages.ca/books/0735253307.jpg?altimages=false&scaleup=true&maxheight=515&width=380&quality=85&sale=16&lang=en">
<a href="https://www.sparknotes.com/lit/handmaid/summary/">
    <figcaption class="album-name">The Handmaid's Tale</figcaption>
</a>
</figure>
</label>
</li>

<input type="radio" name="cover-item" id="cover-5">
<li class="coverflow-item">
<label for="cover-5">
<figure class="album-cover">
<img src="https://media.bloomsbury.com/rep/bj/9781350033221.jpg">
<a href="https://www.sparknotes.com/lit/the-kite-runner/summary/">
<figcaption class="album-name">The Kite Runner</figcaption>
</a>
</figure>
</label>
</li>

<input type="radio" name="cover-item" id="cover-6">
<li class="coverflow-item">
<label for="cover-6">
<figure class="album-cover">
<img src="https://images-na.ssl-images-amazon.com/images/I/41-2DNxyKyL._SX351_BO1,204,203,200_.jpg">
<a href="https://medium.com/mbreads/shoe-dog-a-memoir-by-the-creator-of-nike-a3d45d069ed7" >
    <figcaption class="album-name">Shoe Dog</figcaption>
</a>
</figure>
</label>
</li>


<input type="radio" name="cover-item" id="cover-7">
<li class="coverflow-item">
<label for="cover-7">
<figure class="album-cover">
<img src="https://www.chestnuthilllocal.com/wp-content/uploads/2019/03/Column_Gilmore.jpg">
<a href="http://www.supersummary.com/educated-a-memoir/summary/">
    <figcaption class="album-name">Educated : A Memoir </figcaption>
</a>
</figure>

</label>
</li>
</ol>
</div>
<div class="controls">
<label for="cover-1">1</label>
<label for="cover-2">2</label>
<label for="cover-3">3</label>
<label for="cover-4">4</label>
<label for="cover-5">5</label>
<label for="cover-6">6</label>
<label for="cover-7">7</label>

</div>
</div>


<!------------------------------------------------------------------------->




<div class="main-container">
<div class="coverflow-container">
<ol class="coverflow-list">

<h1 style="color: white;" > Award Winning Books of 2018: </h1>

<input type="radio" name="cover-item" id="cover-8">
<li class="coverflow-item">
<label for="cover-8">
<figure class="album-cover">
<img src="https://images-na.ssl-images-amazon.com/images/I/412Vb-C3--L._SX336_BO1,204,203,200_.jpg" />


</figure>
</label>
</li>

<input type="radio" name="cover-item" id="cover-9">
<li class="coverflow-item">
<label for="cover-9">
<figure class="album-cover">
<img src="https://images-na.ssl-images-amazon.com/images/I/619FCk3MHwL._SX339_BO1,204,203,200_.jpg">


</figure>
</label>
</li>

<input type="radio" name="cover-item" id="cover-10">
<li class="coverflow-item">
<label for="cover-10">
<figure class="album-cover">
<img src="https://images-na.ssl-images-amazon.com/images/I/51bXQzJhvcL._SX318_BO1,204,203,200_.jpg">


</figure>
</label>
</li>

<input type="radio" name="cover-item" id="cover-11">
<li class="coverflow-item">
<label for="cover-11">
<figure class="album-cover">
<img src="https://images-na.ssl-images-amazon.com/images/I/41lyVA8rRkL._SX346_BO1,204,203,200_.jpg">

</figure>
</label>
</li>

<input type="radio" name="cover-item" id="cover-12">
<li class="coverflow-item">
<label for="cover-12">
<figure class="album-cover">
<img src="https://images-na.ssl-images-amazon.com/images/I/51R5OTD%2B-KL._SX331_BO1,204,203,200_.jpg">

</figure>
</label>
</li>
<input type="radio" name="cover-item" id="cover-13">
<li class="coverflow-item">
<label for="cover-13">
<figure class="album-cover">
<img src="https://images-na.ssl-images-amazon.com/images/I/51RuAbKH%2BtL._SX326_BO1,204,203,200_.jpg">



</figure>
</label>
</li>
<input type="radio" name="cover-item" id="cover-14">
<li class="coverflow-item">
<label for="cover-14">
<figure class="album-cover">
<img src="https://images-na.ssl-images-amazon.com/images/I/51e7ARPjDNL._SX328_BO1,204,203,200_.jpg">

</figure>
</label>
</li>

</ol>
</div>
<div class="controls">
<label for="cover-8">1</label>
<label for="cover-9">2</label>
<label for="cover-10">3</label>
<label for="cover-11">4</label>
<label for="cover-12">5</label>
<label for="cover-13">6</label>
<label for="cover-14">7</label>

</div>
</div>
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="https://officeuno.com/image/cache/catalog/BANNER1-1140x380.jpg">
    <div class="text">Shop your necessary stationery items</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="https://officeuno.com/image/cache/catalog/banner%207-1140x380.jpg">
    <div class="text">From a variety of options</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="https://officeuno.com/image/cache/catalog/BANNER3-1140x380.jpg">
    <div class="text">At reduced price</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
<script>
var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>
</body>

</html>
