<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}

<link rel="stylesheet" type="text/css"  href="{% static 'users/MyLibrary.css' %}">


    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!--adding js scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


<script>
        window.console = window.console || function(t) {};
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
   <script>
       if (document.location.search.match(/type=embed/gi)) {
             window.parent.postMessage("resize", "*");    }
   </script>



<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-default navbar-inverse ">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="logo" >Bookworm</a>
            </div>
        </div>
</div>

<!--<form>-->
<!--  <h4>Book Name:<br> </h4>-->
<!--  <input type="text">-->
<!--  <br>-->
<!--  <h4>Genre:<br></h4>-->
<!--  <input type="text">-->
<!--  <br>-->
<!--  <h4>Author Name:<br></h4>-->
<!--  <input type="text">-->
<!--  <br>-->
<!--  <br>-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->



              <div>
                  <form action="." method='POST' >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="OK">
                  </form>

<!--{#			   <a class="button w-button smoothscroll">Become a Monisho Supplier</a>#}-->

              </div>

<h2>My Books Library:</h2>

<table>
  <tr>
      <th>Book Name</th>
      <th>Genre</th>
      <th>Author</th>
      <th>Recommendation</th>
  </tr>
    <tr>

    </tr>
    <tr>

    </tr>

    <tr>

    </tr>
    <tr>

    </tr>
</table>

</body>
</html>