<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}

<link rel="stylesheet" type="text/css"  href="{% static 'users/MyLibrary.css' %}">


    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!--adding js scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


<script>
        window.console = window.console || function(t) {};
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
   <script>
       if (document.location.search.match(/type=embed/gi)) {
             window.parent.postMessage("resize", "*");    }
   </script>



<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-default navbar-inverse ">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="logo" >Bookworm</a>
            </div>
            <div class=" nav-btns topnav-right" >
                {% if user.is_authenticated %}
                           <a href= "{% url 'logout' %}" >
                    <button style="color: white; background: transparent; ">Logout</button>
                </a>

                         {% else %}
                         <!--Added Login button -->
                            <a href= "{% url 'login' %}" style="color: white; background: transparent; ">
                                <button style="color: white; background: transparent; ">Login</button>
                            </a>
                         {% endif %}
                <a href="{% url 'browser' %}">
                <button style="color: white; background: transparent; ">Browser</button>
                </a>
                <a href="{% url 'profile' %}" style="color: white; background: transparent; ">
                    <button style="color: white; background: transparent; ">Profile</button>
                </a>

            </div>
        </div>
</div>



              <div>
                  <form method="post" action="/mylibrary/">
                    {% csrf_token %}

                    <div class=" form-group wrap ">
                        <div class="Save">
                             <input type = "text" name="name" class="form-control searchTerm " placeholder="Book Title">
                            <input type = "text" name="author" class="form-control searchTerm " placeholder="Author">
                            <input type = "text" name="genre" class="form-control searchTerm " placeholder="Genre">
                        </div>

                             <button type="submit" > Save </button>
                    </div>

                 </form>


              </div>

<div  style=" padding: 60px;">

<h2 >My Books Library:</h2>

    {% if obj %}
        {% for k in obj %}

           <table>
                <form method="POST" action="/mylibrary/">
                <tr>
                   <td style="font-weight: bold; color: rgb(6, 36, 36); padding-right: 20px"> Title </td>
                    <td> <a name="srh" type="submit">{{ k.name }} </a></td>
                </tr>
            <br>
                <tr>
                   <td style="font-weight: bold;color: rgb(6, 36, 36); padding-right: 20px "> Author </td>
                   <td> {{ k.author }}</td>
                </tr>
            <br>
                <tr>
                   <td style="font-weight: bold;color: rgb(6, 36, 36); padding-right: 20px "> Genre </td>
                   <td> {{ k.genre }}</td>
                </tr>
               </form>
           </table>

        {% endfor %}
    {% endif %}

</div>
<div>
     {% if sr %}
    <h3> Recommended books are:</h3>
          {{ sr }}
     {% endif %}
</div>
</body>
</html>