<html>
<head>
    <!--  Loads the path to static files-->
{% load staticfiles %}
    {% load crispy_forms_tags %}
    {% block content %}

<link rel="stylesheet" type="text/css"  href="{% static 'users/profile.css' %}">


    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!--adding js scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


<script>
        window.console = window.console || function(t) {};
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
   <script>
       if (document.location.search.match(/type=embed/gi)) {
             window.parent.postMessage("resize", "*");    }
   </script>



</head>

<body>

<div class="header" >

 <div class="navbar navbar-fixed-top navbar-default navbar-inverse ">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="logo" >Bookworm</a>
            </div>

            <div class=" nav-btns topnav-right" >
                {% if user.is_authenticated %}
                           <a href= "{% url 'logout' %}" >
                    <button style="color: white; background: transparent; ">Logout</button>
                </a>

                         {% else %}
                         <!--Added Login button -->
                            <a href= "{% url 'login' %}" style="color: white; background: transparent; ">
                                <button style="color: white; background: transparent; ">Login</button>
                            </a>
                         {% endif %}

                <a href="{% url 'browser'%}"> <button style="color: white; background: transparent; ">Browser</button>    </a>
                <a href= "{% url 'mylibrary' %}">   <button style="color: white; background: transparent; ">My Library</button> </a>
                <a href=" {% url 'Recommender' %}">
                    <button style="color: white; background: transparent; " >Recommendations</button>
                </a>

            </div>
        </div>
 </div>

</div>


    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                 <form method="POST" enctype="multipart/form-data">
                     {% csrf_token %}
                     <fieldset class="form-group">
                         {{ u_form|crispy }}
                         {{ p_form|crispy }}
                     </fieldset>
                     <div class="form-group">
                         <br>
                         <button class="btn btn-outline-info" type="submit">Update</button>
                     </div>
                 </form>

            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}