<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

<link rel="stylesheet" type="text/css"  href="{% static 'users/MyLibrary.css' %}">


    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!--adding js scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


<script>
        window.console = window.console || function(t) {};
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
   <script>
       if (document.location.search.match(/type=embed/gi)) {
             window.parent.postMessage("resize", "*");    }
   </script>



<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>
</head>

<body>

<div class="header" >

 <div class="navbar navbar-fixed-top navbar-default navbar-inverse ">
        <div class="container-fluid">

            <div class="navbar-header">
                    <a class="logo" >Bookworm</a>
             </div>

             <div class=" nav-btns topnav-right" >
                    <a href="{% url 'home'%}" > <button style="color: white; background: transparent; " >Home</button>  </a>
                 <a href= "{% url 'mylibrary' %}">
                     <button style="color: white; background: transparent; ">My Library</button>
                 </a>
                 <a href="{% url 'profile' %}" style="color: white; background: transparent; ">
                     <button href="#" style="color: white; background: transparent; ">Profile</button>
                 </a>

                    <button href="#" style="color: white; background: transparent; ">Upgrade to pro</button>
                  </div>

        </div>
 </div>

 </div>



</body>

</html>