<html>
<head>
    <!-- Importing bootstrap stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

    <!--  Loads the path to static files-->
{% load staticfiles %}
<link rel="stylesheet" type="text/css"  href="{% static 'Browser/Browser.css' %}"

</head>

<body>
    <nav class="navbar ">

        <div class="container-fluid">
             
            <div class="navbar-header">
                    <a class="logo" href="../../../Homepage/templates/Homepage/index.html">Bookworm</a>
            </div>
             
            <div class="collapse navbar-collapse " id="myNavbar">
             
                    <ul class="nav navbar navbar-right">
                         <li class="active"><a href="#">Home</a></li>
                         <li><a href="#">Go to Profile</a></li>
                    </ul>
             
            </div>
             
        </div>
     </nav>
             
 

</body>
</html>