<html>
<head>
    <!--  Loads the path to static files-->
{% load staticfiles %}
<link rel="stylesheet" type="text/css"  href="{% static 'Browser/Browser.css' %}"

   
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!--adding js scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


<script>
        window.console = window.console || function(t) {};
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
   <script>
       if (document.location.search.match(/type=embed/gi)) {
             window.parent.postMessage("resize", "*");    }
   </script>



</head>

<body>

 <div class="header" >

 <div class="navbar navbar-fixed-top navbar-default navbar-inverse ">
        <div class="container-fluid">
             
            <div class="navbar-header">
                    <a class="logo" >Bookworm</a>
             </div>

             <div class=" nav-btns topnav-right" >
                    <button href="#" style="color: white; background: transparent; " >Home</button>
                    <button href="#" style="color: white; background: transparent; ">Profile</button>
                    <button href="#" style="color: white; background: transparent; ">Upgrade to pro</button>
                  </div>
                
        </div>
 </div>

 </div>

  <!--   <div class="container-fluid text-center">


            <div class="grid-container">
                 <h3 style="color: white; ">AD content</h3>
                <button href="#" style="color: white; background: transparent; " >Test 2</button>

             </div>

    
            <div class=" mid ">
                <button href="#" style="color: white; background: transparent; " >Test</button>

            </div>

    
     </div>

    -->


</body>
</html>